@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom utilities */
:root {
  --bg: #ffffff;
  --muted: #6b7280;
}

.dark {
  --bg: #0b1220;
  --muted: #9ca3af;
}

body {
  background-color: var(--bg);
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}
